.board {
  margin: 100px;
  padding: 0;
  border: 5px solid black;
  width:410px;
  height:410px;
}

.row {
  margin: 0;
  padding: 0;
  width:400px;
  height:50px;
}

.square,
.square-selected
{
  display: inline-block;
  margin: 0;
  padding: 0;
  width:50px;
  height:50px;
}

.board .row:nth-child(even) .square:nth-child(odd),
.board .row:nth-child(odd) .square:nth-child(even) {
  background: #CCC;
}

.board .row .square-selected {
  background: #99CCFF;
}

.piece {
   width: 50px;
   height: 50px;
   font-size: 55px;
   line-height: 52px;
   position: absolute;
}

.piece-K:before {
   content: "\2654"
}
.piece-Q:before {
   content: "\2655"
}
.piece-R:before {
   content: "\2656"
}
.piece-B:before {
   content: "\2657"
}
.piece-N:before {
   content: "\2658"
}
.piece-P:before {
   content: "\2659"
}

.piece-k:before {
   content: "\265A"
}
.piece-q:before {
   content: "\265B"
}
.piece-r:before {
   content: "\265C"
}
.piece-b:before {
   content: "\265D"
}
.piece-n:before {
   content: "\265E"
}
.piece-p:before {
   content: "\265F"
}
