<div class="board">
   <div class="row" ng-repeat="row in squares">
      <div ng-repeat="pieceType in row track by $index"
              ng-controller="BoardSquareCtrl"
                 ng-init="setRowAndFile($parent.$parent.$index, $parent.$index)"

                 ng-class="squareClass()"
                 ng-click="startOrEndMove()">

         <span class="coordinate-label">
            {{$parent.$parent.$index}}{{$parent.$index}}
         </span>
         <piece type="{{pieceType}}" ng-class="pieceClass()"></piece>

      </div>
   </div>
</div>
