body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.finger-cursor {
  cursor: pointer;
}

.fist-cursor {
  cursor: move;
}

.crosshair-cursor {
  cursor: crosshair;
}
