body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.board {
   margin: 100px;
   padding: 0px;
   border: 5px solid black;
   width:410px;
   height:410px;
}

.row {
   margin: 0px;
   padding: 0px;
   width:400px;
   height:50px;
}

.square {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   width:50px;
   height:50px;
}

.board .row:nth-child(even) .square:nth-child(odd),
.board .row:nth-child(odd) .square:nth-child(even) {
   background: #ccc;
}
